# Database (Postgres)
DATABASE_URL="postgresql://tonysd:tonysd123@127.0.0.1:5432/tonysd"
PGSSL_DISABLE="1"

# Auth
AUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Optional: OAuth providers later
# GITHUB_ID=
# GITHUB_SECRET=
# GOOGLE_ID=
# GOOGLE_SECRET=